<script src="https://rawgit.com/mozilla-comm/ical.js/master/build/ical.js" />
<style>
</style>
<div ng-controller="eventsImportContentCtrl">
    <div class="toolbar toolbar-fixed">
        <ul class="frame">
            <li><button class="btn flat" ng-click="addItem()" ng-disabled="data.items == null"><i class="icon-plus"></i></button></li>
        </ul>
    </div>
    <div class="row with-fixed-toolbar">

        <div ng-if="error" class="pageError">{{error}}</div>

        <textarea ng-model="textICal"></textarea>
        <button ng-click="parseICal()">Import</button>

        <ul selectable-list selected="selected" selected-item="selectedItem" class="detailed">
        <li selectable-item="item" select-on="uid" ng-repeat="item in items" ng-class="{'with-thumb-custom': hasThumb}">
            <span class="disclosure tag">{{"category"}}</span>
            <span class="thumb" ng-if="hasThumb && data.hasItemThumb(item)">
                <img ng-src="{{data.getItemThumb(item, 100, 's')}}" class="img-rounded custom">
            </span>
            <h6>{{item.summary}}</h6>
            <p>{{item.description}}</p>
        </li>
    </ul>

    </div>
    <div id="propbar">
        <div ng-include="" src="props"></div>
    </div>
</div>
